wp-admin/*
wp-includes/*
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/advtech/
!wp-content/themes/advtechTheme/
/*.php
/*.html
/*.txt
/.buildpath
/.project
/.settings/
/*.zip